html,
body {
  height: 100%;
  background-color: hsl(210, 17%, 90%);
}

main.index {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-color {
  background-color: hsl(274, 65%, 67%);
}

.btn-color:hover {
  background-color: hsl(274, 65%, 60%);
}

.center-logo {
  display: flex;
  align-items: center;
}

.center-logo span {
  margin-left: 5px;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-container > * {
  display: inline-block;
  margin-bottom: 10px;
}

.outer-content-container {
  position: relative;
  width: 480px;
  max-width: 480px;
  min-width: 250px;
  height: 300px;
}

.download-button {
  position: absolute;
  right: 28px;
  bottom: 8px;
}

.content-container {
  background-color: grey;
  border: 5px solid black;
  /* 100% minus the height of the header */
  height: calc(100% - 35.188px);
  width: 100%;
  overflow-y: scroll;
}

@media (max-width: 1220px) {
  .outer-content-container {
    flex-basis: 50%;
  }
}

@media (max-width: 990px) {
  .outer-content-container {
    flex-basis: 90%;
    max-width: 600px;
  }
}

.user-card {
  margin: 5px 0;
  border-radius: 20px;
  background-color: rgb(196, 238, 254);
}

.user-card > * {
  margin: 0 10px;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.elem {
  padding: 20px;
}

.elem.title {
  display: flex;
  justify-content: center;
  align-items: center;
}