:root {
  --text: #0a0a0a;
  --bg: #fcfcfc;
  --primary: #7A3AAF;
  --secondary: #dedede;
  --accent: #797779;
  --grey: #b1b0b0;
}

@media (prefers-color-scheme: x) {
  :root {
    --text: #fcfcfc;
    --bg: #0a0a0a;
    --primary: #7A3AAF;
    --secondary: #121212;
    --accent: #c5c4c5;
  }
}

html,
body {
  height: 100%;
  background-color: var(--bg);
}

nav {
  background-color: var(--primary);
}

h1, h2, h3, h4, h5, li, p {
  color: var(--text) !important;
}

.hidden {
  display: none !important;
}

main {
  padding: 20px 0;
}

.all-container {
  max-width: 1600px;
  margin: 0 auto;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-color {
  background-color: var(--primary);
}

.btn-color:hover {
  background-color: var(--primary);
  opacity: .9;
}

.center-logo {
  display: flex;
  align-items: center;
}

.center-logo span {
  margin-left: 5px;
}

.grid-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-container > * {
  display: inline-block;
  margin-bottom: 10px;
}

.outer-content-container {
  /* flex makes sure the content doesn't spill? */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  border: 5px solid black;
  border-radius: 50px;
  width: 480px;
  max-width: 480px;
  min-width: 250px;
  height: 300px;
  overflow: hidden;
}

.content-top-div {
  display: flex;
}

.content-top-div > h3 {
  margin: .2rem;
}

.download-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  color: var(--text);
}

.user-link-double {
  color: var(--text);
  position: absolute;
  right: 1px;
  top: 8px;
  z-index: 1;
}

.user-link-single {
  color: var(--text);
  position: absolute;
  right: 1px;
  top: -3px;
  z-index: 1;
}

.content-container {
  width: 100%;
  overflow-y: scroll;
}

.content-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1220px) {
  .outer-content-container {
    flex-basis: 50%;
  }
}

@media (max-width: 990px) {
  .outer-content-container {
    flex-basis: 90%;
    max-width: 600px;
  }
}

.user-card {
  position: relative;
  margin: 5px 0;
  border-radius: 20px;
  background-color: var(--grey);
}

.user-card > * {
  margin: 0 10px;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  max-width: 1150px;
}

.elem {
  padding: 20px;
  max-width: 500px;
}

.elem.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.elem.title > h1 {
  font-size: 70px;
}

ol {
  padding-left: 19px;
}

@media (max-width: 788px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
  .elem {
    justify-self: center;
  }
}

@media (max-width: 332px) {
  .about-grid {
    grid-template-rows: 1fr repeat(3, 3fr);
  }
  .elem.title {
    height: fit-content;
  }
  .elem.title > h1 {
    font-size: 50px;
  }
}